.hives-container {
  width: 100%;
  display: flex;
  gap: 13px;
  padding: 13px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.hive {
  width: 150px;
  height: 200px;
  background-color: yellow;
  color: black;
  padding: 10px;
  border-top: 10px solid white;
}

.honey-icon {
  height: 31px;
  object-fit: contain;
}

.loot-container {
  border-top: 1px solid black;
  padding-top: 13px;
  margin-top: 13px;
}