@font-face {
  font-family: digital;
  src: url("ds_digital/DS-DIGI.TTF");
}

@font-face {
  font-family: ware;
  /*IC insisted*/
  src: url("warioware-original/warioware-original.ttf");
}

[data-animation] {
  animation:
    var(--animps, running);
}

.box{
  animation-play-state: --animps;
}


body {
  background: black;
  color: white;
  font-family: ware;
  font-size: 12px;
}


.tab {
  padding: 10px;
  width: 100px;
  height: 79px;
  border: 1px dotted #c4c4c4;
}

#container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  min-height: 100vh;
}

.fade-out {
  animation: fadeOut ease 5s;
  animation-fill-mode: forwards;
}

.credits-friday{
  position: sticky;
  z-index: 1000;
  bottom: 10px;
  left: 0px;
  height: 20px;
  color: #a10000;
  a{
    color: red;
  }
  a:visited{
    color: red;
  }
  a:hover{
    color: #a10000;
  }
}

.multi-select{
  height: 50vh;
}

.friday-video{
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: invert(19) blur(1px) brightness(0.51) contrast(1919) grayscale(1)}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.stats div {
  margin-top: 10px;
}

textarea {
  width: 100%;
}

.stats {
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: red;
}

.gnosis-quip {
  color: red;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 13px;
}

.gnosis-button {
  margin: 13px;
}

.tab.active {
  border-color: red;
  box-shadow: 0px 0px 10px 0px red;
}

.maze {
  overflow: auto;
}

.maze-row {
  display: block;
  white-space: nowrap;
}



.maze-cell {
  display: inline-block;
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 3px solid #434343;
  background-color: #a10000;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.9;

}

.clicker-game-quip {
  margin-left: 100px;
}

.room-label {
  text-align: center;
  margin-top: 20px;
  text-wrap: pretty;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 10px;
}

.room-locked {
  opacity: 0.25;
}


.void {
  background-color: #00135d;
  border: 1px solid #0d1b4a;
  color: white;
}

.neville-button::before {
  content: "Neville says: 'you might be happier forgetting it tho :)'";
}

.neville-button {
  background-image: url("images/neville_twin_by_guide.png");
  background-size: 20px 31px;
  background-repeat: no-repeat;
  height: 31px;
  padding-left: 31px;
  display: block;
  margin-bottom: 31px;
}

.room-unlocked {
  opacity: 0.9;
}

.sales-floor {
  display: flex;
  gap: 31px;
  padding: 13px;
}

.shop {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
  width: 400px;
  height: 400px;
}

.shop-keep {
  left: 123px;
  position: absolute;
  z-index: -1;
  width: 170px;
  top: 70px;
  pointer-events: all;
}

.shop-kiosk {
  position: absolute;
  height: 400px;
}

.start-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 100px;
  padding: 25px;
}

.clicker-game-button-parent {
  position: absolute;
  width: fit-content;
  height: fit-content;
}

.clicker-game-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 100px;
  padding: 25px;
}

.room-unlocked:hover {
  opacity: 1.0;
}

.maze-title {
  margin-left: 31px;
}

.save-maze-line {
  display: flex;
  justify-content: space-between;
  width: 400px;
  gap: 31px;
}

.maze-section {
  padding: 31px;
  border: 1px solid red;
  margin-bottom: 50px;
}

.maze-section input {
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.victory {
  margin: 31px;
  padding: 10px;
  border: 1px dotted red;

}

.game-header {
  padding: 13px;
  display: flex;
  justify-content: space-between;
}

.game-header img {
  width: 61px;
  cursor: pointer;
}

button img {
  height: 50px;
}

button{
  cursor: pointer;
}

.slot{
  width: 150px;
  position: absolute;
  height: 150px;
}

.slots-spinning{
  animation: slots-go-whir linear 500ms infinite;
}

.slots-paperclip-a{
  animation: slots-go-paperclip-a ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-paperclip-b{
  animation: slots-go-paperclip-b ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-paperclip-c{
  animation: slots-go-paperclip-c ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-paperclip-d{
  animation: slots-go-paperclip-d ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-heart-a{
  animation: slots-go-heart-a ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-heart-b{
  animation: slots-go-heart-a ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-heart-c{
  animation: slots-go-heart-a ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-fail-a{
  animation: slots-go-fail-a ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-fail-b{
  animation: slots-go-fail-a ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-fail-c{
  animation: slots-go-fail-a ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-key-a{
  animation: slots-go-key-a ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-key-b{
  animation: slots-go-key-b ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-star-a{
  animation: slots-go-star-a ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-star-b{
  animation: slots-go-star-b ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slots-eye-a{
  animation: slots-go-eye-a ease-out 1s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

button:disabled{
  opacity: 50%;
}



@keyframes slots-go-whir {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: 1113px;
  }
}

@keyframes slots-go-paperclip-a {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: 10px;
  }
}

@keyframes slots-go-heart-a {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: 0px;
  }
}

@keyframes slots-go-fail-a {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -9px;
  }
}

@keyframes slots-go-star-a {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -18px;
  }
}

@keyframes slots-go-eye-a {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -27px;
  }
}

@keyframes slots-go-paperclip-b {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -36px;
  }
}

@keyframes slots-go-key-a {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -45px;
  }
}

@keyframes slots-go-heart-b {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -54px;
  }
}

@keyframes slots-go-star-b {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -63px;
  }
}

@keyframes slots-go-paperclip-c {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -72px;
  }
}

@keyframes slots-go-fail-b {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -81px;
  }
}

@keyframes slots-go-key-b {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -90px;
  }
}

@keyframes slots-go-heart-c {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -99px;
  }
}

@keyframes slots-go-paperclip-d {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -108px;
  }
}

@keyframes slots-go-fail-c {

  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -117px;
  }
}



.slot-button-container{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

}

.slot-machine{
  position: relative;
  width: 150px;
  height: 150px;
}

.slot-icons{
  position: absolute;
  width: 9px;
  height: 27px;
  top: 45px;
}

.slot-icons.one{
  left: 46px;
  background-position-y: 13px; /*slot machine animation is handled via animating on the background position */
}

.slot-icons.two{
  left: 69px;
  background-position-y: 113px;
}

.slot-icons.three{
  left: 91px;
  background-position-y: 333px;
}

.slot-container button{
  font-size: 8px;
  width: 70px;
  max-width: 70px;
  overflow: hidden;
  padding-left: 3px;
  padding-right: 3px;
  text-wrap: nowrap; /*i need you to know how funny i find it how far these things can go off screen*/
}

.slot-icon {
  height: 13px;
  width: 13px !important;
  object-fit: contain;
}

.slot-header{
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

.damage-counter {
  position: absolute;
  top: -25px;
  font-size: 20px;
  color: white;
  text-shadow: red 1px 0 1px;
  animation: fadeOut ease 1s;
  animation-fill-mode: forwards;
  width: 100px;
}



.secondary-header {
  display: flex;
  gap: 50px;
  justify-content: start;
  margin-left: 13px;
}

.blorbo {
  display: block;
  width: 125px;
}

.blorbo-container {
  position: relative;
  width: fit-content;
}

.cultist {
  position: absolute;
  width: 75px;
  cursor: pointer;
  animation: approach-top-left 10s ease-in 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1px);
  }
}

.rainbow-text {
  -webkit-background-clip: text;
  background-image: linear-gradient(270deg, violet, indigo, blue, green, #ff0, orange, red);
  color: transparent;
}

.rainbow-border {
  background: black;
  box-shadow: 0px 0px 2px 1px rgba(148, 0, 211, 1),
    0px 0px 2px 2px rgba(75, 0, 130, 1),
    0px 0px 2px 3px rgba(0, 0, 255, 1),
    0px 0px 2px 4px rgba(0, 255, 0, 1),
    0px 0px 2px 5px rgba(255, 255, 0, 1),
    0px 0px 2px 6px rgba(255, 127, 0, 1),
    0px 0px 2px 7px rgba(255, 0, 0, 1);
}

.rainbowTextAnimated {
  background-image:
    linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 360s linear infinite;
}


:root {
  --width: 300px;
  --x-turtle: 60s;
  --y-turtle: 60s;
  --x-speed: 7s;
  --y-speed: 7s;
  --x-speed-fast: 3s;
  --y-speed-fast: 3s;
  --x-speed-zip: 1s;
  --y-speed-zip: 1s;
}

.el-wrap {
  position: absolute;
  cursor: pointer;
  pointer-events: all;

}

.el {
  width: var(--width);
  height: var(--width);
  z-index: 1;

}

.x {
  animation: x var(--x-speed) linear infinite alternate;
}

.y {
  animation: y var(--y-speed) linear infinite alternate;
}

.x-fast {
  animation: x var(--x-speed-fast) linear infinite alternate;
}

.y-fast {
  animation: y var(--y-speed-fast) linear infinite alternate;
}

.x-zip {
  animation: x var(--x-speed-zip) linear infinite alternate;
}

.y-zip {
  animation: y var(--y-speed-zip) linear infinite alternate;
}

.x-turtle {
  animation: x var(--x-speed-turtle) linear infinite alternate;
}

.y-turtle {
  animation: y var(--y-speed-turtle) linear infinite alternate;
}

.animated_bg {
  animation: animated-bg-animation 0.4s steps(3) infinite;
  width: 50px;
  height: 50px;
}


.sass-radio {
  filter: grayscale(1);
}

.red-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  background-color: red;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 100000;
}

.animated-bg-vertical {
  animation: animated-bg-animation-vertical 0.4s steps(3) infinite;
}

@keyframes animated-bg-animation {
  100% {
    background-position: -150px;
  }
}

@keyframes animated-bg-animation-vertical {
  100% {
    background-position-y: -75px;
    font-style: italic;
    /* for radio static*/
  }
}

.meat {
  z-index: 13;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  position: absolute;
  cursor: pointer;
}

.targeting-reticule {
  position: absolute;
  pointer-events: none;
}

.meat-bg {
  background-color: #bd6e6e;
  border: none;
  outline: none;
  color: white;
  background-image: radial-gradient(circle at 50% 50%, transparent 30%, #460707 100%), url("images/meat.png");
}

.target {
  display: inline-block;
  background-size: cover;
}

.high-or-low-card {
  width: 100px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.meat-bg::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}


.meat-bg::-webkit-scrollbar-thumb {
  background-color: #bd6e6e;
  background-image: radial-gradient(circle at 50% 50%, transparent 30%, #460707 100%), url("images/meat.png");

}

.meat-button {
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  margin: 30px;
  color: white;
  background-color: #bd6e6e;
  background-image: radial-gradient(circle at 50% 50%, transparent 30%, #460707 100%), url("images/meat.png");

}

/*truth and alt are mimicking each other but truth is meat*/
.truth-popup {
  color: red;
  font-family: 'Courier New', Courier, monospace;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: fixed;
  top: 10%;
  left: 25%;
  padding: 50px;
  font-size: 14px;
  background-color: black;
  width: 50vw;
  overflow-y: auto;
  border: 3px solid red;
  z-index: 4556;
}

.slot-popup {
  background-image: radial-gradient(circle at 50% 50%, transparent 30%, black 100%), url("http://farragofiction.com/GhoulishThing/pexels-francesco-ungaro-97492.jpg");
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: fixed;
  top: 10%;
  left: 25%;
  padding: 50px;
  font-size: 14px;
  width: 50vw;
  overflow-y: auto;
  border: 3px solid red;
  z-index: 4556;
}

.void-popup {
  background-color: #00135d;
  border: 1px solid #0d1b4a;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: fixed;
  top: 10%;
  left: 25%;
  padding: 50px;
  font-size: 14px;
  width: 50vw;
  overflow-y: auto;
  border: 3px solid white;
  z-index: 4556;
}

/*alt*/
.meat-popup {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: fixed;
  top: 10%;
  left: 25%;
  padding: 50px;
  font-size: 14px;
  background-color: #bd6e6e;
  width: 50vw;
  height: 68vh;
  overflow-y: auto;
  border: 1px solid black;
  z-index: 4556;
  background-image: radial-gradient(circle at 50% 50%, transparent 30%, #460707 100%), url("images/meat.png");
}

.meat-popup::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}


.meat-popup::-webkit-scrollbar-thumb {
  background-color: #bd6e6e;
  background-image: radial-gradient(circle at 50% 50%, transparent 30%, #460707 100%), url("images/meat.png");

}

.meat-overlay {
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  background-color: #b03a3a;
  opacity: 0.13;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
}

.sass {
  border: 2px solid black;
  white-space: nowrap;
  z-index: 12;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  top: -25px;
  font-size: 12px;
  left: 0px;
  color: black;
  padding-left: 5px;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  padding-right: 5px;
  opacity: 100;
  margin: 5px;
  background-color: #d1b056;
  line-height: 17px;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, .2);
  transition: opacity 1s linear;
}

.sass.fadeout {
  opacity: 0;
}

.bounce-container {
  width: 50vw;
  height: 50vh;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - var(--width)));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - var(--width)));
  }
}



@keyframes move {
  to {
    background-position: -4500vh;
  }
}

[data-quatro="true"] {
  animation: tremble 1s linear infinite;
}

.cultist img {
  width: 75px;
}

.key-icon {
  width: 31;
  vertical-align: middle;
}

@keyframes tremble {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes approach-top-left {
  100% {
    left: 0px;
    top: -100px;
    width: 200px;
  }
}

.game-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.empty-cell {
  border: 3px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: black;
  opacity: 0;
}

.button-row {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.secrets-container{
  padding: 13px;
  font-family: 'Courier New', Courier, monospace;
  border: 2px dotted rgb(224, 159, 170);
  background: pink;
  color: rgb(206, 36, 64);
}

.secrets-container svg{
  fill: pink;
  height: 12px;
  width: 12px;
}

.secret-img{
  width: -webkit-fill-available;
}

.corrupted-img{
  height: 475px;
  width: 475px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.secret-vid{
  width: -webkit-fill-available;
}

.secret-html{
  margin: 13px;
  background-color: #e4e4e4;
  color: black;
  line-height: 14px;
  padding: 13px;
}

.secrets-container path{
  stroke: rgb(226, 86, 109);
}


.secret-ele{
  padding: 13px;
  margin: 13px;
  border: 2px dashed rgb(230, 97, 119);
  background: white;
  border-left-style: groove;
  border-right-style: groove;
  border-top-style: double;
  border-bottom-style: none;
  border-radius: 31px;
  color: rgb(206, 36, 64);
}

#tab-header {
  border: 1px dashed #c4c4c4;
  width: 100%;
  height: 100px;
  display: flex;
}

#tab-content {
  width: 100%;
  min-height: calc(100vh - 150px);
  border: 1px solid #c4c4c4;
  margin-top: 10px;
  position: relative;
}

#entry-button {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 25%;
}

.bg {
  position: absolute;
  width: 1000px;
}

.player {
  position: absolute;
  top: 225px;
  left: 500px;
  animation: tremble 3s linear infinite;

}

.enemy {
  position: absolute;
  left: 200px;
  top: 153px;
  animation: pumpkin-flicker 10s ease-in infinite;

}



.toilet {
  cursor: pointer;
  position: absolute;
}

@keyframes pumpkin-flicker {
  0% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes tremble {

  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translate(1px, 1px);

  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-1px, 0px);
  }
}

.vik {
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 72px;
}

.gamer-tier {
  color: black;
  border: 3px solid black;
  padding: 31px;
}


.glitch {
  animation: glitch 1s linear infinite;
  display: inline-block;
}


@keyframes glitch {

  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }

  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }

  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.glitch:before,
.glitch:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

  2%,
  64% {
    transform: translate(2px, -2px);
  }

  4%,
  60% {
    transform: translate(-2px, 2px);
  }

  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.glitch:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

  2%,
  64% {
    transform: translate(-2px, 0);
  }

  4%,
  60% {
    transform: translate(-2px, 0);
  }

  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}